@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background: #32cb00;
  align-items: center;
  color: #fff;
}

header {
  margin-top: 15%;
}

.btn {
  border: none;
  background: #fff;
  padding: 0.5rem;
  transition: all 0.3s ease;
  width: 30px;
  cursor: pointer;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input,
.todo-button,
.hour-input {
  border: none;
  background: #fff;
  color: #32cb00;
}

.todo-input {
  width: 250px;
  padding: 15px;
  color: #000;
}

.todo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.todo-button:hover {
  background: #32cb00;
  color: #fff;
}

.todos {
 
}

.todo-list {
  margin: 0;
  padding: 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 0.5rem;
  transition: all 0.5s ease;
}

.text {
  flex: 1;
  width: 350px;
  padding: 0.5rem;
  list-style: none;
  color: #000;
}

.fa-check, .fa-times {
  pointer-events: none;
}

.checked {
  color: #32cb00;
}

.checked:hover {
  color: #fff;
  background: #32cb00;
}

.deleted {
  color: red;
}

.deleted:hover {
  background: red;
  color: #fff;
}

.checked-text {
  text-decoration: line-through;
  opacity: 0.75;
  color: #000;
}

.fall-animation {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.exl {
  color: rgb(255, 196, 0);
}

.exl:hover {
  background: rgb(255, 196, 0);
  color: #fff;
}

.yellow {
  background: rgb(255, 196, 0);
  color: #fff;
}

.del{
  display: none;
}

#btn {
  width: 120px;
  height: 40px;
  background: white;
  font-size: 0.8rem;
  margin: 1rem 0 0 0;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

#btn:hover {
  background: #32cb00;
  color: #fff;
}
